<%- include('partials/header') %>

<div class="layout wave-svg">
  <div class="login">
    <div class="icon">
        <i class="fas fa-key fa-5x"></i>
    </div>
    <h2>Register</h2>
    <h3>Welcome Human !</h3>
    <form action="/register" method="POST" class="login-form">
        <div class="form-group textbox">
            <input type="email" placeholder="Email" name="username">
            <span class="material-symbols-outlined">
                account_circle
            </span>
        </div>
        <div class="form-group textbox">
            <input type="password" placeholder="Password" name="password">
            <span class="material-symbols-outlined">
                lock
            </span>
        </div>
        <button type="submit">REGISTER</button>
    </form>

    <div class="social-buttons">
        <a class="btn btn-social-icon btn-lg btn-google" href="/auth/google" role="button">
          <i class="fab fa-google"></i>
        </a>
        <a class="btn btn-social-icon btn-lg btn-facebook" href="/auth/facebook" role="button">
          <i class="fab fa-facebook"></i>
        </a>
    </div>
  </div>
</div>

<%- include('partials/header') %>
