<%- include('partials/header') %>

<div class="layout curve-svg">
  <div class="jumbotron centered">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Secrets</h1>
    <p class="submit-text">Don't keep your secrets, share them anonymously!</p>
    <hr>

    <form action="/submit" method="POST" class="submit-form">

      <div class="form-group textbox">
        <input type="text" class="text-center submit-textbox" name="secret" placeholder="What's your secret?">
      </div>
      <button type="submit" class="home-button home-login submit-button-layout">Submit</button>
    </form>

  </div>
</div>
<%- include('partials/footer') %>
